body, html {
    height: 100%;
}

.bg {
    background-image: url("../images/background.jpeg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.GameName {
    background-color: orange;
    color: white;
    font-size: 48px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 20px;
}



.GameInfo {
    background-color: bisque;
    color: green;
    margin-left: 20px;
    margin-top: 20px;
}

p {
    padding:10px;
    margin: 10px;
}

#result {
    background-color: green;
    padding: 20px;
    font-size: 48px;
    color: blueviolet;
    margin-left: 20px;
    margin-top: 20px;
}

#WinLoss {
 background-color: aquamarine;
 margin-top: 20px;
}

.wins , .losses {
    margin-top: 20px;
}

.buttonRow {
    margin-top: 20px;
    margin-left: 20px;
}

#Score {
    background-color: darkcyan;
    color: white;
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
}

#YourScore {
    background-color: darkcyan;
    color: white;
    padding: 10px;
    font-size: 48px;
    margin-top: 20px;
    margin-left: 20px;
}