body, html {
    height: 100%;
}

.bg {
    background-image: url("../images/background.jpeg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.GameName {
    background-color: orange;
    color: white;
    font-size: 48px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 20px;
}



.GameInfo {
    background-color: bisque;
    color: green;
    margin-left: 20px;
    margin-top: 20px;
}

p {
    padding:10px;
    margin: 10px;
}